body {
    background-color: #C5D5E4;
    font-family: Roboto_Slab;
}

.navbar {
    background-color: #8896AB;
    width: 65%;
    height: 73px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 100px;
    display: flex;

}

.navbar img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    transition: 0.4s;
}

.navbar img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar button {
    margin-left: 10px;
    border-radius: 15px;
    background-color: #5a8b8a;
    color: #ffffff;
    font-family: Roboto_Slab;
    width: 120px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button {
    margin-left: 10px;
    border-radius: 15px;
    background-color: #5a8b8a;
    color: #ffffff;
    font-family: Roboto_Slab;
    width: 120px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    font-weight: bold;
}

#button:hover {
    background-color: #3b6161;
    transform: scale(1.09);
    cursor: pointer;
}

.buttons :nth-last-child(4) {
    margin-left: 70px;
}

#btfecharcaixa:hover {
    transform: scale(1.09);
    cursor: pointer;
    background-color: rgba(199, 29, 29, 0.87);
}

#btfecharcaixa {
    font-family: Roboto_Slab;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    font-weight: bold;
    margin-left: 530px;
    color: #ffffff;
    background-color: rgb(233, 39, 39);
}
.buttons button:hover {
    background-color: #3b6161;
    transform: scale(1.09);
    cursor: pointer;
}

.navbar button:nth-last-child(5) {
    margin-left: 70px;
}

.buttons button:last-child:hover {
    transform: scale(1.09);
    cursor: pointer;
    background-color: rgba(199, 29, 29, 0.87);
}

.buttons button:last-child {
    margin-left: 400px;
    background-color: rgb(233, 39, 39);
}

.detalhesProduto {
    border-radius: 15px;
    background-color: #8896AB;
    width: 65%;
    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}

.registrar{
    border-radius: 15px;
    background-color: #5a8b8a;
    color: #ffffff;
    font-family: Roboto_Slab;
    font-size: 30px;
    width: 200px;
    height: 75px;
    border: none;
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
    transition: 0.5s;
}
.error{
    color: red;
}
.registrar:hover {
    background-color: #3b6161;
    transform: scale(1.09);
    cursor: pointer;
}

label {
    font-size: 1.4rem;
    color: white;
    margin-left: 2rem;
}

select{
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
}
form{
    margin-top: -2rem;
}
input{
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    
}

h1 {
    position: relative;
    color: white;
    left: 2rem;
    font-size: 48px;
    margin-bottom: 5rem;
}

.tabelaProdutos {
    border-radius: 15px;
    position: absolute;
    top: 100px;
    right: 2%;
    background-color: #8896AB;
    width: 600px;
    height: 823.35px;
    max-height: 823.35px;
    /* Ajuste a altura conforme necessário */
    overflow: auto;
  
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Roboto_Slab;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 10px;
    width: 559.9px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;
    overflow-y: scroll;
    overflow: scroll;
    flex: 1;
}

thead,
tfoot {
    background-color: #5a8b8a;
}

th,
td {
    border: 1px solid black;
    padding: 8px 10px;
    text-align: center;

}
tfoot{
    position: sticky;
    bottom: 0;
    border: 1px solid black;
    height: 40px;
}
tbody {
    background-color: #C5D5E4;
    overflow: scroll;
    height: 200px;
}

tfoot th {
    text-align: right;
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
}
@font-face {
    font-family: Roboto_Slab;
    src: url('../fonts/RobotoSlab-Regular.ttf');
}

#produtoRegistrado{
    width: 277px;
    height: 318px;
    margin-left: 40rem;
    margin-top: -43%;
}
#erroAoRegistrar {
    width: 0;
    padding: 10px;
    display: none; /* Inicialmente escondido */
}

#produtoRegistrado {
    display: none; /* Inicialmente escondido */
    padding: 10px;
}
#erroAoRegistrar{
    width: 277px;
    height: 318px;
    margin-left: 40rem;
    margin-top: -43%;
}