
body{
    background-color: #C5D5E4;
}
.navbar{
    background-color: #8896AB;
    width: 65%;
    height: 73px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 100px;
    display: flex;
   
}
.navbar img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    transition: 0.4s;
}
.navbar img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.buttons{
     display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar button{
    margin-left: 10px;
    border-radius: 15px;
    background-color: #5a8b8a;
    color: #ffffff;
    font-family: Roboto_Slab;
    width: 110px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    transition: 0.5s;
    font-weight: bold;
}
.buttons button:hover {
    background-color: #3b6161;
    transform: scale(1.09);
    cursor: pointer;
}
.navbar button:nth-last-child(5){
    margin-left: 70px;
}
.buttons button:last-child:hover{
    transform: scale(1.09);
    cursor: pointer;
    background-color: rgba(199, 29, 29, 0.87);
}
.buttons button:last-child{
    margin-left: 400px;
    background-color: rgb(233, 39, 39);
}
.detalhesProduto{
    border-radius: 15px;
    background-color: #8896AB;
    width: 65%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.detalhesProduto img{
    width: 294px;
    height: 300px;
}
h2,p{
    font-size: 1.5rem;
}
.detalhesProduto button{
    background-color: rgba(255, 0, 0, 0.726);
    margin-left: 950px;
    margin-top: -20px;
    padding: 15px;
    color: white;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    transition:0.4s;
}
.detalhesProduto button:hover{
    cursor: pointer;
    background-color: rgba(182, 17, 17, 0.726);
    transform:scale(1.1);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.chart{
    width: 350px;
    padding: 2rem;
    border: 3px solid #5a8b7a;
    border-radius: 1rem;
    background: #c1d7ff;
    
}